@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");
.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(270deg, #2a1e5c, #1276ff);
  transform-origin: 0%;
  z-index: 9999;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInFromTop {
  animation: fadeInFromTop 1s ease forwards;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInFromBottom {
  animation: fadeInFromBottom 1s ease forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInFromLeft {
  animation: fadeInFromLeft 1s ease forwards;
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInFromRight {
  animation: fadeInFromRight 1s ease forwards;
}

/* Bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px); /* Increase the translateY value for higher bounce */
  }
  60% {
    transform: translateY(-25px); /* Increase the translateY value for higher bounce */
  }
}
.bounce {
  animation: bounce 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
}

input, textarea {
  @apply focus:outline-none focus:ring;
}

.ytp-pause-overlay, .ytp-impression-link, .ytp-impression-link-content {
  display: none !important;
}

.primary-gradient-bg {
  background: linear-gradient(-80deg, rgba(16, 27, 83, 0.8), rgba(16, 27, 83, 0.96), #101b53);
}

.mobile-menu-bg {
  background: linear-gradient(0deg, rgba(16, 27, 83, 0.8), rgba(16, 27, 83, 0.96), #101b53);
}

.hero-bg:after {
  background: linear-gradient(270deg, #2a1e5c, #1276ff);
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}

.content-section {
  @apply py-[60px] xl:py-[120px];
}

* {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hamburger-checkbox {
  display: none;
}

.hamburger-toggle {
  width: 30px;
  height: 24px;
  display: block;
  position: relative;
  cursor: pointer;
}

.hamburger-toggle-icon {
  border-bottom: 2px solid #1e266d;
  padding-top: 10px;
  display: block;
}

.hamburger-toggle-icon:before,
.hamburger-toggle-icon:after {
  border-top: 2px solid #1e266d;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger-toggle-icon:before {
  top: 0px;
}

.hamburger-toggle-icon:after {
  bottom: 0px;
}

/*
   * This is where all the animation happens
   */
.hamburger-toggle-icon,
.hamburger-toggle-icon:before,
.hamburger-toggle-icon:after {
  transition-property: transform, border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.hamburger-toggle-icon {
  transition-delay: 0.125s;
}

.hamburger-toggle-icon:before,
.hamburger-toggle-icon:after {
  transition-delay: 0s;
  transform-origin: center;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon {
  transition-delay: 0s;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:before,
.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:after {
  transition-delay: 0.125s;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:before {
  transform: translateY(9px) rotate(135deg);
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon {
  border-color: transparent;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:after {
  transform: translateY(-13px) rotate(-135deg);
}

.hamburger-active-color .hamburger-toggle-icon,
.hamburger-active-color .hamburger-toggle-icon:before,
.hamburger-active-color .hamburger-toggle-icon:after {
  border-color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
