.hamburger-checkbox {
  display: none;
}

.hamburger-toggle {
  width: 30px;
  height: 24px;
  display: block;
  position: relative;
  cursor: pointer;
}

.hamburger-toggle-icon {
  border-bottom: 2px solid #1e266d;
  padding-top: 10px;
  display: block;
}

.hamburger-toggle-icon:before,
.hamburger-toggle-icon:after {
  border-top: 2px solid #1e266d;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger-toggle-icon:before {
  top: 0px;
}

.hamburger-toggle-icon:after {
  bottom: 0px;
}

/*
   * This is where all the animation happens
   */
.hamburger-toggle-icon,
.hamburger-toggle-icon:before,
.hamburger-toggle-icon:after {
  transition-property: transform, border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.hamburger-toggle-icon {
  transition-delay: 0.125s;
}

.hamburger-toggle-icon:before,
.hamburger-toggle-icon:after {
  transition-delay: 0s;
  transform-origin: center;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon {
  transition-delay: 0s;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:before,
.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:after {
  transition-delay: 0.125s;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:before {
  transform: translateY(9px) rotate(135deg);
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon {
  border-color: transparent;
}

.hamburger-checkbox:checked + .hamburger-toggle .hamburger-toggle-icon:after {
  transform: translateY(-13px) rotate(-135deg);
}

.hamburger-active-color {
  .hamburger-toggle-icon,
  .hamburger-toggle-icon:before,
  .hamburger-toggle-icon:after {
    border-color: #ffffff;
  }
}
